.toast-container {
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 9999;
        }

        .toast {
            background: linear-gradient(135deg,#8B0000, #CE1126);
            color: white;
            padding: 15px 25px;
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            transform: translateX(-150%);
            transition: transform 0.5s ease-in-out;
            max-width: 200px;
        }

        .toast.show {
            transform: translateX(0);
        }

        .toast i {
            font-size: 24px;
            margin-left: 15px;
        }

        .toast-content {
            flex: 1;
        }

        .toast-title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .toast-message {
            font-size: 16px;
        }

   
        @media (max-width: 768px) {
            .toast-container {
                top: 10px;
                left: 10px;
                right: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .toast {
                max-width: 100%;
                width: 70%;
            }
        }